.main-chat
  .main-chat__group-info
    .current-group
      .current-group__group-name
        group-name
      .current-group__group-members
        Member: name
    .edit-btn
    = link_to "#", class: "edit-btn edit-btn--edit" do
      Edit
  .main-chat__message-list
    .messages
      .messages__data
        .user-name
          user-name
        .create-date
          yyyy/mm/dd
      .messages__user-message
        message
    .messages
      .messages__data
        .user-name
          user-name
        .create-date
          yyyy/mm/dd
      .messages__user-message
        message
  .main-chat__message-form