.main-chat
  .main-chat__group-info
    .current-group
      .current-group__group-name
        group-name
      .current-group__group-members
        Member: name
    .edit-btn
    = link_to "#", class: "edit-btn edit-btn--edit" do
      Edit
  .main-chat__message-list
    .messages
      .messages__data
        .user-name
          user-name
        .create-date
          yyyy/mm/dd
      .messages__user-message
        message
    .messages
      .messages__data
        .user-name
          user-name
        .create-date
          yyyy/mm/dd
      .messages__user-message
        message
  .main-chat__message-form
    .form
      .create-message
        %input.create-message__form{:name => "message", :placeholder => "type a message", :type => "text"}
        %label.create-message__image
          %i.far.fa-image
          %input.create-message__image__file{:type => "file"}
          .image
      %input.submit-btn{"data-disable-with" => "Send",:type => "submit",:name => "commit", :value => "Send"}
