.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        name
      .top-items__icon
      = link_to "#", class: "top-items__btn top-items__btn--edit" do
        = icon('fas', 'edit')
      = link_to "#", class: "top-items__btn top-items__btn--cog" do
        = icon('fas', 'cog')
  .side-bar__group-list
    .groups
      .groups__group-name
        group-name
      .groups__group-message
        message
      
      .groups__group-name
        group-name
      .groups__group-message
        message