* {
  box-sizing: border-box;
}

.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  position: fixed;
  &__user-name {
    height: 100px;
      position: relative;
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
}

.top-items {
  height: 20px;
  width: calc(300px - 20px - 20px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto;
  display: flex;

  &__name {
    line-height: 16px;
    color: #ffffff;
    font-weight: bold;
    margin-right: auto;
  }
  &__icons {
    width: 60px;
  }
  &__btn {
    height: 20px;
    color: #ffffff;
    line-height: 100%;
    &--cog {
      padding-left: 5px;
    }
  }
}

.groups {
  height: 91px;
  width: 100%;
  text-align: left;
  a {
    text-decoration: none;
  }

  &__group-name {
    padding: 20px 20px 5px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
  }
  &__group-message {
    padding: 0px 20px 40px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
  }
}

.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  margin-left: 300px;

  &__group-info {
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
  }
  &__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 35px 40px;
  }
}

.current-group {
  height: 100%;
  margin-left: 40px;

  &__group-name {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    padding-top: 35px;
    padding-bottom: 15px;
  }
  &__group-members {
    font-size: 12px;
    font-weight: bold;
    color: #999999;
  }
}
.edit-btn {
  &--edit {
    height: 40px;
    line-height: 0px;
    margin-top: 30px;
    padding: 20px;
    position: absolute;
    color: #00bfff;
    border: solid 1px #00bfff;
    right: 40px;
    text-decoration: none;
  }
}

.messages {
  height: 88px;

  &__data {
    color: #ffffff;
    display: flex;
    margin-bottom: 12px;
  }
  &__user-message {
    color: #434A54;
    font-size: 14px;
    margin-bottom: 46px;
  }
}

.user-name {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
}
.create-date {
  color: #999999;
  font-size: 12px;
  margin-left: 10px;
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color: #d2d2d2;
  width: 100%;

  &__box {
    width: 100%;
    display: flex;
  }

  &__message {
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    border-style: none;
  }

  &__image {
    position: relative;
  }
 
  &__image__file {
    font-size: 23px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  &__submit-btn {
    background-color:#38aef0;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    color: white;
    cursor: pointer;

  }
}

.new_message {
  display: flex;
}

.hidden {
  display: none;
}