* {
  box-sizing: border-box;
}

.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  position: fixed;
  &__user-name {
    height: 100px;
      position: relative;
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
}

.top-items {
  height: 20px;
  width: calc(300px - 20px - 20px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto;
  display: flex;

  &__name {
    line-height: 16px;
    color: #ffffff;
    font-weight: bold;
    margin-right: auto;
  }
  &__icons {
    width: 60px;
  }
  &__btn {
    color: #ffffff;
    padding-left: 5px;
    line-height: 100%;
  }
}

.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  margin-left: 300px;
  &__group-info {
    height: 100px;
    border-bottom: 1px solid #eeeeee;
  }
  &__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
  }
}