* {
  box-sizing: border-box;
}

.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  position: fixed;
}

.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}